#countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.country{
    background-color: lightslategrey;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}
.country-name{
    color: rgb(206, 197, 81);
    font-size: 50px;
}
.capital-name{
    color: black;
    font-size: 25px;
}
#country-detail img {
    width: 200px;
}
.button{
    padding: 10px;
    margin: 10px;
    border-style: none;
    background-color: black;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}